<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}"/>
    <script src="{{ url_for('static', filename = 'app.js') }}"></script>
    <title>City of Oak Bay AI Assistant</title>
  </head>
  <body>
    <header>
      <img src="{{ url_for('static', filename = 'Langford_Logo.jpeg') }}" />
      <h1>City of Oak Bay AI Assistant</h1>
    </header>
    <div id="main-container">
      <aside id="left-aside">
        <h2> Select a File</h2>
        <div id="bylawContainer">
        </div>
      </aside>
      <main id="main-content">
        <h2 id="currentBylaw"></h2>
        <h2>Ask AIMBO AI Assistant a Question</h2>
        <textarea id="userQuestion" class="inputQuestion" placeholder="Enter your question"></textarea>
        <button onclick="submitQuestion()" class="styledElement">Submit</button>
        <h2>AIMBO's Answer</h2>
        <div id="output"></div>
      </main>
       <aside id="right-aside">
            <h2>How to Use Personal AI Assistant</h2>
            <ul>
                <li>Select the file that you need information on.</li>
                <li>Formulate a specific question regarding the selected bylaw.</li>
                <li>Click the 'Submit' button to get your answer.</li>
                <li>Note: Due to this being a prototype, please allow a few seconds for the response. Make sure to only click 'Submit' once to avoid duplicate responses.</li>
            </ul>
            <h2>Important Information</h2>
            <ul>
               <li>If you receive the message "Error Error Error" there are two reasons why: </li>
              <li>1) Please select a file on the left before asking a question. If you ask a question without selecting a file and press submit, you'll get an error.</li>
              <li>2) If you select a file, ask a question, and see 'Error Error Error,' it means there's an issue with how your question is formatted or the system is struggling to find the right information</li>
              <li> If this happens, please note down your question and the content of the file you were inquiring about. Then, send this information to connor.pettepiece@hotmail.com.</li>
            </ul>
        </aside>
    </div>
  </body>
</html>
